<template>
  <div>
    <Mapa />
    <Personagem @returnPokemon="getPokemon" />
    <PokemonCard class="pokemon-card" v-if="pokemon" :pokemon="pokemon" />
    <Reiniciar />
  </div>
</template>

<script>
import Mapa from './Mapa.vue';
import Personagem from './Personagem.vue';
import PokemonCard from './PokemonCard.vue';
import Reiniciar from './Reiniciar.vue';

export default {
  name: 'Jogo',
  data() {
    return {
      pokemon: null
    };
  },
  components: {
    Mapa,
    Personagem,
    PokemonCard,
    Reiniciar,
  },
  props: {
    msg: String
  },
  methods: {
    getPokemon(value) {
      this.pokemon = value;
    }
  }
};
</script>

<style scoped>
.pokemon-card {
  position: absolute;
  left: 1200px;
  top: 150px;
}
</style>