<template>
  <div>
    <img class="boneco" src="../assets/personagem.png" alt="" srcset="">
  </div>
</template>

<script>
import { useFetch } from '@vueuse/core'

export default {
  name: 'Personagem',
  data() {
    return {
      qtdPixels: 15,
      blocoAtualX: 22,
      blocoAtualY: 22,
      response: Object,
      shouldHandleKeyPress: true,
    }
  },
  methods: {
    moveDown() {
      const element = document.getElementsByClassName('boneco')[0];
      const currentMarginTop = parseInt(window.getComputedStyle(element).marginTop);
      element.style.marginTop = `${currentMarginTop + this.qtdPixels}px`;
    },
    moveUp() {
      const element = document.getElementsByClassName('boneco')[0];
      const currentMarginTop = parseInt(window.getComputedStyle(element).marginTop);
      element.style.marginTop = `${currentMarginTop - this.qtdPixels}px`;
    },
    moveLeft() {
      const element = document.getElementsByClassName('boneco')[0];
      const currentMarginLeft = parseInt(window.getComputedStyle(element).marginLeft);
      element.style.marginLeft = `${currentMarginLeft - this.qtdPixels}px`;
    },
    moveRight() {
      const element = document.getElementsByClassName('boneco')[0];
      const currentMarginLeft = parseInt(window.getComputedStyle(element).marginLeft);
      element.style.marginLeft = `${currentMarginLeft + this.qtdPixels}px`;
    },
    handleKeyPress(event) {
      if (!this.shouldHandleKeyPress) {
        return;
      }
      if ((event.key === 's' || event.key === 'S') && this.blocoAtualY < 25) {
        this.blocoAtualY += 1
        this.sendXYPosition()
        setTimeout(() => {
          this.moveDown();
        }, 500);
      }
      if ((event.key === 'a' || event.key === 'A') && this.blocoAtualX > 1) {
        this.blocoAtualX -= 1
        this.sendXYPosition()
        setTimeout(() => {
          this.moveLeft();
        }, 500);

      }
      if ((event.key === 'd' || event.key === 'D') && this.blocoAtualX < 36) {
        this.blocoAtualX += 1
        this.sendXYPosition()
        setTimeout(() => {
          this.moveRight();
        }, 500);

      }
      if ((event.key === 'w' || event.key === 'W') && this.blocoAtualY > 1) {
        this.blocoAtualY -= 1
        this.sendXYPosition()
        setTimeout(() => {
          this.moveUp();
        }, 500);

      }
    },
    async sendXYPosition() {
      try {
        const url = "http://localhost:5023/mover/" + this.blocoAtualX + "/" + this.blocoAtualY
        this.response = await useFetch(url).json()
        this.$emit('returnPokemon', this.response?.data)
      } catch (error) {
        console.error(error)
      }

    }
  },
  mounted() {
    window.addEventListener('keydown', this.handleKeyPress);
  },
  unmounted() {
    this.shouldHandleKeyPress = false;
  }
}
</script>

<style scoped lang="scss">
.boneco {
  position: absolute;
  top: 500px;
  left: 820px;
  width: 20px;
  height: 20px;
}
</style>