<template>
    <div class="pokemon-card">
        <img width="200" height="200" :src="require(`../assets/imagensPokemons/${pokemon.NumeroPokedex}.png`)" />
        <h2 class="pokemon-name">{{ pokemon.Nome }}</h2>
        <div class="pokemon-info">
            <p><strong>#:</strong> {{ pokemon.NumeroPokedex }}</p>
            <p><strong>Tipo 1:</strong> {{ pokemon.Tipo1_Str }}</p>
            <p><strong>Tipo 2:</strong> {{ pokemon.Tipo2_Str }}</p>
            <p><strong>Descrição:</strong> {{ pokemon.Descricao }}</p>
        </div>
        <div>
            <button v-if="showCatchButton == true && showPokedexButton" @click="tryCatch()">
                Capturar
            </button>
            <span class="success" v-if="returnCatch?.data == true">
                Capturado com sucesso!
            </span>
            <span class="failed" v-if="returnCatch?.data == false">
                O Pokémon escapou!
            </span>
        </div>
    </div>
</template>
  
<script>
import { useFetch } from '@vueuse/core'

export default {
    data() {
        return {
            showCatchButton: true,
            returnCatch: Boolean
        }
    },
    props: {
        pokemon: {
            type: Object,
        },
        showPokedexButton: {
            type: Boolean,
            default: true
        }
    },
    methods: {
        async tryCatch() {
            const url = 'http://localhost:5023/capturar/' + this.pokemon.NumeroPokedex
            this.returnCatch = await useFetch(url).json();
            this.showCatchButton = !this.showCatchButton
        }
    }
};
</script>
  
<style scoped lang="scss">
.pokemon-card {
    background-color: #f3f3f3;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    text-align: center;
}

.pokemon-image {
    width: 100%;
    max-height: 200px;
    object-fit: contain;
}

.pokemon-name {
    margin-top: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
}

.pokemon-info {
    margin-top: 1rem;
    font-size: 0.9rem;
}

/* Botão de sucesso */
.success {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

.success:hover {
    background-color: #218838;
}

/* Botão de falha */
.failed {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

.failed:hover {
    background-color: #c82333;
}
</style>
  