<template>
    <PokemonCard v-for="pokemon in dataPokemon.data" :key="pokemon.id" :pokemon="pokemon" :showPokedexButton="false"/>
</template>
  
<script>
import { useFetch } from '@vueuse/core'
import PokemonCard from './PokemonCard.vue';
export default {
    name: 'Pokedex',
    components: { PokemonCard },
    data() {
        return { dataPokemon: "" }
    },
    mounted() {
        const url = 'http://localhost:5023/api/pokedex/get'
        this.dataPokemon = useFetch(url).json();
    }
}
</script>