<template>
    <button v-if="!returnReset" class="button-reset" type="button" @click="reiniciar()">
        <text>Reiniciar Pokedex</text>
    </button>
    <text v-else class="success">Pokedex Reiniciada</text>
</template>
  
<script>
import { useFetch } from '@vueuse/core'

export default {
    name: 'Reiniciar',
    data() {
        return {
            returnReset: false,

        }
    },
    methods: {
        async reiniciar() {
            const url = 'http://localhost:5023/resetarJogo/'
            await useFetch(url);
            this.returnReset = !this.returnReset
        }
    }
};
</script>
  
<style scoped lang="scss">
.button-reset {
    display: inline-block;
    background-color: #f44336;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;

    &:hover {
        background-color: #d32f2f;
    }
}

.success {
    display: inline-block;
    background-color: #36f436;
    color: #000000;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: none;
    border-radius: 4px;

    &:hover {
        background-color: #42d32f;
    }
}
</style>
  