<template>
  <div>
    <Jogo msg="Welcome to Your Vue.js App" />
  </div>
</template>

<script>
// @ is an alias to /src
import Jogo from '@/components/Jogo.vue'

export default {
  name: 'HomeView',
  components: {
    Jogo
  }
}
</script>
