<template>
  <div class="container">
    <div class="row">
      <text>Área de Login da Pokedex</text> <br>
      <small>Realize o login para ver a sua lista de Pokémons!</small>
    </div>
    <input type="text" v-model="username" placeholder="usuario">
    <input type="password" v-model="password" placeholder="senha">
    <button @click="login">Login</button>
  </div>
</template>

<script>
import axios from "axios"
import Swal from 'sweetalert2';

export default {
  data() {
    return {
      username: '',
      password: '',
    };
  },
  methods: {
    async login() {
      try {
        const url = "http://localhost:5023/api/auth/login"
        const response = await axios.post(url, {
          username: this.username,
          password: this.password
        });
        const token = response.data.token;
        // Armazene o token em localStorage ou em algum local seguro de armazenamento
        localStorage.setItem('token', token);
        // Redirecione para a página protegida
        this.$router.push('/pokedex');
      } catch (error) {
        Swal.fire({
          icon: 'error',
          title: 'Erro de Login',
          text: 'Usuário ou senha inválidos',
        });
        console.error(error);
      }
    },
  },
};
</script>

<style scoped lang="scss">
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f3f3f3;
}

.row {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

h2 {
  font-size: 24px;
  font-weight: 700;
  color: #e3350d;
}

p {
  font-size: 14px;
  font-weight: 400;
  color: #888888;
  margin-top: 5px;
}

input {
  width: 300px;
  height: 40px;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 14px;
}

button {
  width: 300px;
  height: 40px;
  background-color: #e3350d;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #c5240b;
}

button:active {
  background-color: #a11809;
}
</style>