<template>
  <div>
    <Pokedex />
  </div>
</template>

<script>
import Pokedex from '../components/Pokedex.vue';
export default {
  name: 'PokedexView',
  components: {
    Pokedex
  },
}
</script>
